<section class="main_post" id="projectPage">
  <%- include('btnsOnPost.ejs') -%>
    <div class="postDetail hidden">
      <h1>
        <%= blogpost.title %>
      </h1>
      <picture class="writer">
        <img class="userImg"
          src="https://lh3.googleusercontent.com/a/AGNmyxYKP7KlSgpMYZ1EngEaDDBvDyjCH97coxhOrCmiaA=s96-c" alt=" ">
        <p style="margin-top: 1rem;">
          Creater name: <%= blogpost.username %> <br>
            Posted on: <%= blogpost.createdAt.toDateString() %> <br>
              Updated on: <%= blogpost.updatedAt.toDateString() %> <br>
        </p>
      </picture>
      <img class="postImg" src="<%= blogpost.image %>" alt=" ">

      <div class="content">
        <%- blogpost.post.replace(/\n/g, '<br>' ) %>
      </div>                
    </div>     
    <%- include('commentsOnPost.ejs') -%>
    <%- include('../../components/writer-detail.ejs') -%>     
</section>

<!-- 
<script>
  const section = document.querySelector('.showPost .commentsOnPost');
  const sectionPosition = section.offsetTop;
  // console.log('sectionPosition', sectionPosition);
  const buttons = document.querySelectorAll('.showPost .btns .button-container');
  // console.log('sectionPosition', buttons);
  window.addEventListener('scroll', function () {
    if (window.matchMedia('(max-width: 867px)').matches) {
      const scrollPosition = window.scrollY;
      if (scrollPosition >= sectionPosition) {
        buttons.forEach(function (button) {
          button.style.transition = 'opacity 0.3s ease-in-out';
          button.style.opacity = '0';
        });
      } else {
        buttons.forEach(function (button) {
          button.style.transition = 'opacity 0.3s ease-in-out';
          button.style.opacity = '1';
        });
      }
    }
  });
</script> -->