<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

    <body>
        <main>
            <div class="main-wrapper dark">
                <% if (bodyId !="ReviewPage" && bodyId !="CreateReviewComment" ) { %>
                    <%- include('../partials/navbar');-%>
                        <% } %>
                            <div id="<%- bodyId %>" class="Container">
                                <button class="toggle-btn">
                                    <i class="far fa-moon"></i>
                                    <i class="far fa-sun"></i>
                                </button>
                                <div class="overlay"></div>
                                <%- body %>
                                    <button class="back-to-top" title="Go to top">&#9650;</button>
                            </div>
                            <% if (bodyId !="ReviewPage" && bodyId !="CreateReviewComment" ) { %>
                                <%- include('../partials/footer');-%>
                                    <% } %>
            </div>
        </main>
        <script src="/js/scripts.js"></script>
    </body>

    </html>