<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/header.ejs') %>

        <body>
            <main class="main-wrapper dark">
                <% if ( bodyId !="review_comments" && bodyId !="profileId" && bodyId !="project-detail" && bodyId
                    !="passwordForget" && bodyId !="verifyEmail" && bodyId !="passwordReset" ) { %>
                    <%- include('../partials/navbar.ejs');-%>
                        <% } %>
                            <div id="<%- bodyId %>" class="Container">
                                <%- body %>
                                    <div class="overlay"></div>
                                    <button class="back-to-top" title="Go to top">&#9650;</button>
                            </div>
                            <% if ( bodyId !="review_comments" && bodyId !="profileId" && bodyId !="verifyEmail" &&
                                bodyId !="loginPage" && bodyId !="registrationPage" && bodyId !="passwordForget" &&
                                bodyId !="passwordReset" ) { %>
                                <%- include('../partials/footer.ejs');-%>
                                    <% } %>
            </main>
            <script src="/js/scripts.js"></script>

            <div id="cookie-consent" class="cookie-consent">
                <div class="cookie-consent-content">
                    <p>We use cookies to enhance your experience on our website. By continuing to browse, you consent to
                        our
                        use of cookies.</p>
                </div>
                <button id="cookie-consent-close" class="cookie-consent-close">&times;</button>
                <button id="cookie-consent-accept" class="cookie-consent-accept">Accept</button>
            </div>
            <script src="/js/cookie-consent.js"></script>

        </body>

</html>