<div class="review-show">
    <form action="/review/<%= review._id %>/comment" method="POST" content-type='application/json'>
        <p class="title">Review<br>
            Created on: <%- review.createdAt %><br> <br>
                "<%= review.review %>" <br>
                    <textarea id="summernote" type="text" name="comment"></textarea>
        </p>
        <div>
            <button type="submit">Save</button>
            <a href="/#testimonial">Back</a>
        </div>
    </form>

    <div class="comment">
        <p class="title">Total comments: <%- review.comments.length %></p>
        <hr>
        <% if (review.comments.length> 0) { %>
            <% review.comments.forEach(function(comment) { %>
                <p><%- comment.content %></p>

                <form method="POST" action="/deleteComment/<%= comment._id %>?_method=DELETE">
                    <input type="hidden" value="<%= comment.reviewId %>" name="reviewId">
                    <input type="hidden" value="<%= comment.userId %>" name="userId">
                    <button type="submit">Delete</button>
                </form>
                <hr>
                <% }); %>
                    <% } else { %>
                        <p>No comments found.</p>
                        <% } %>
    </div>
</div>
<!-- Summernote Lite JS -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 200,
            width: '100%',
        });
    });
</script>