<section class="hidden blogPage">
  <div class="blogMainImg">
    <picture>
      <source srcset="/img/blog.svg" type="Blog Image">
      <img src="/img/blog.svg" title="blog.svg" alt="Blog Image" loading="lazy">
    </picture>
  </div>

  <div class="search-box">
    <form method="POST" action="/searchPost">
      <input type="text" placeholder="Search..." name="title" id="title" required>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <a href="/posts/new">
      <span>Add New Project</span> 👉 <i id="scroll-icon" class="fas fa-pencil-alt"></i>
    </a>
  </div>

  <link rel="stylesheet" href="/css/mywork.css">
  <%- include('./components/mywork') %>

    <div class="blog-container">
      <input id="" type="hidden" blogs-length="<%= blogposts.length %>">
      <% for(var i=0; i < blogposts.length; i++) {%>
        <div class="card-container">
          <a href="/project/<%= blogposts[i]._id %>" class="blog-card">
            <img src="<%= blogposts[i].image %>" alt=" ">
            <h4>
              <%= blogposts[i].title %>
            </h4>
            <h6>Posted <%= blogposts[0].createdAt.toDateString() %> by <%= blogposts[i].username %>
            </h6>
          </a>
        </div>
        <% } %>
    </div>
    <button id="see-more-button">Show More</button>
</section>

<script>
  $(document).ready(function () {
    const cards = document.querySelectorAll('.card-container');
    const initialLimit = 3; // Initial number of cards to show
    let currentLimit = initialLimit; // Current limit, starts at initial limit
    const seeMoreButton = document.querySelector("#see-more-button");
    const totalCards = cards.length;

    // Function to update card visibility based on the current limit
    function updateCardsVisibility() {
      cards.forEach((card, index) => {
        card.style.display = index < currentLimit ? '' : 'none';
      });
    }

    // Initially update cards visibility and toggle the see more button
    updateCardsVisibility();
    seeMoreButton.style.display = totalCards > initialLimit ? 'block' : 'none';

    seeMoreButton.addEventListener("click", function () {
      if (this.textContent.includes("More")) {
        // Show more cards: set current limit to total cards or a specific increment
        currentLimit = totalCards; // or currentLimit += 3; for a fixed increment
        this.textContent = "Show Less";
      } else {
        currentLimit = initialLimit;
        this.textContent = "Show More";
      }
      updateCardsVisibility();
    });
  });
</script>